{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="text-center" v-if="loading">
                    <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="post-preview" v-for="post in posts" v-else>
                    <a :href="post.link" target="_blank">
                        <h2 class="post-title">
                            ${ post.title }
                        </h2>
                        <h3 class="post-subtitle">
                            ${ post.service }
                        </h3>
                    </a>
                    <p class="post-meta">Posted ${ post.timestamp }</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
